html,
.left
{
	margin: 10;
	font-family:sans-serif;
	background-color: #a3db6f;
}
.abc li:hover{
	color:#516685;
	font-weight:bolder;
}
.bcd {
	outline-color: rgb(170, 200, 237);
}
.right
{
	background-color: #ac9af4;
	font-family: serif;
}
.container a
{
	gap:0.625%;
	background-color: #a3e3e9;
	outline-color: rgb(11, 11, 11);
	outline-style: auto;
	padding: 20px;
	cellspacing: 20px;
}
a:link{
	background-color: rgb(180, 207, 247);
	text-decoration: none;
}
a:hover
{
	background-color: white;
}
a:focus
{
	background:rgb(181, 161, 225);
	color:black;
}

img:hover
{
	border-radius: 50%;
}
.tables
{
	border:1px solid;
}
tr:hover
{
	background-color: rgb(216, 192, 255);
}
